#container netflixintro[Letter= "N"] .helper-1{

    width: 19.5%;
    height: 100%;
    background-color: rgba(228, 9, 19, 0.5);
    left: 22.4%;
    top: 0;
    transform: rotate(180deg);
    animation-name: fading-lumieres-box;
    animation-duration: 2s;
    animation-delay: 0.6s;
    animation-fill-mode: forwards;


}


#container netflixintro[Letter= "N"] .helper-1 .effect-brush {

    animation-name: brush-moving;
    animation-duration: 2.5s;
    animation-delay: 1.2s;
    animation-fill-mode: forwards;

}


#container netflixintro[Letter="N"] .helper-1 .effect-brush [class*="fur-"] {

bottom: 0;
height: 40%;


}


#container netflixintro[Letter="N"] .helper-3 {

    width: 19%;
    height: 150%;
    left: 40.5%;
    top: -25%;
    transform: rotate(-19.5deg);

    box-shadow: 0px 0px 35px -12px  rgba(0, 0, 0, 0);
    overflow: hidden;


}